* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navImg {
  width: 30px;
  height: 30px;
}

.navbar1 {
  background-color: #b80c09;
  display: flex;
  justify-content: end;
}

.navWMSU {
  background-color: #570000;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
}

.navbar2 {
  background-color: #570000;
  color: white;
  padding: 10px;
  text-align: end;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.hero {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: start;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 60%;
  gap: 10px;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

.chev-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  max-width: 800px;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  font-family: sans-serif;
}

.search-bar input[type="search"] {
  flex: 1;
  padding: 10px 15px;
  border: none;
  font-size: 1rem;
  color: #333;
}

.search-bar button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.search-bar button:hover {
  background-color: #444;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.lading-aside {
  width: 220px;
  flex-shrink: 0;
}

.aside-1 {
  padding: 20px;
}

.aside-2 {
  padding: 20px;
}

.landing-aside h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.landing-aside ul {
  margin-bottom: 0px;
  text-align: left;
}

.landing-aside ul li {
  list-style: none;
  margin: 5px 0;
}

.landing-aside a {
  text-decoration: none;
  color: #444;
}
.recent-submissions {
  width: calc(100% - 240px); /* 800 - 220 - gap */
}

.recent-submissions h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.recent-submissions article {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.recent-submissions img {
  width: 100px;
  height: 110px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.article-content h5 {
  color: darkturquoise;
}

.article-content {
}

.recent-submissions div {
  flex: 1;
}

footer {
  background-color: #570000;
  color: white;
  height: 200px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 30px;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  gap: 4px;
}

footer ul {
  list-style: none;
}

.footer-links img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 30px;
}

/* CATEGORY LIST */

.row {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  width: 1125px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#header {
  background: #fff;
}

#info-bar {
  background: rgb(255, 47, 47);
  color: #fff;
  padding: 4px 0 3px;
}

#logo-bar {
  padding: 0;
  border-top: 1px solid #fff;
  background: rgb(221, 50, 50);
}

/* CATEGORY LIST */
